@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    margin: 0 20px;
    background-color: #FFB1B1;
    letter-spacing: 1px;
}

/* Header */

#logo {
    width:75%;
    margin-top: 16px;
}

#tagline {
    text-align: right;
}

.subheading {
    font-size: 50%;
    font-weight: 400;
}

#nav, #how-it-works {
    margin: 16px auto;
}

.nav-menu {
    display: flex;
    list-style: none;
    justify-content: space-between;
}

.nav-menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 2px solid #000;
}

/* Hero Section */

#hero-section, #about-us, #interests, #hobbies, #signup-section, #demographics, #age-prefs  {
    margin-top: 24px;
}

#hero-image img, #about-content img {
    width: 100%;
}

#hero-content p, #about-content p {
    margin: 12px auto;
}

/* How It Works & Sign Up */
/* How it Works */

h2 {
    text-align: center;
}

#how-it-works  p {
    text-align: center;
    margin-top: 16px;
}

/* Sign Up Button */

#sign-up-btn {
    margin: 24px auto;
}

#sign-up-btn h3 {
    width: 50%;
    font-size: 125%;
    padding: 8px 25px;
    background-color: #fff;
    margin: 0 auto;
    border-radius: 5px;
    text-align: center;
}

/* Footer */

footer ul {
    width: 50%;
    display: flex;
    list-style: none;
    margin: 24px auto;
    justify-content: space-between;
    font-size: 150%;
}

#social-icons-wrapper a {
    text-decoration: none;
    color: inherit;
}

/* About Us Page */
/* Hero Section */

#quote p, #hobbies p {
    font-size: 60%;
    text-align: right;
}

#about-heading {
    text-align: center;
}

#signup-section {
    text-align: center;
}

/* Events Page */
/* Callout */

#callout p, #venue-date, #find-out-more p, {
    font-size: 80%;
    letter-spacing: 1px;
    margin: 12px auto;
}

#location {
    letter-spacing: 1px;
    margin: 12px auto;
}

#callout h2 {
    width: 80%;
    text-align: center;
    margin: 24px auto 0;
}

/* Events */

#events {
    margin-bottom: 32px;
}

 #venue-date {
     display: flex;
     justify-content: space-between;
 }

 #event-btn h5 {
     text-align: center;
     width: 33%;
     padding: 8px 16px;
     background-color: #fff;
     border-radius: 5px;
     margin: 8px 0 8px auto;
 }

 #event-btn a {
     text-decoration: none;
     color: inherit;
 }

 /* Sign Up Page */
 /* Form */

 form {
    letter-spacing: 1px;
 }

 input[type="text"], input[type="email"], input[type="tel"] {
     width: 100%;
     line-height: 25px;
     background-color: transparent;
     border: 1px solid #000;
     border-radius: 5px;
     margin-top: 5px;
     margin-bottom: 10px;
 }

 #phone {
     width: 50%;
 }

 #demographics, #age-prefs {
     display: flex;
 }

 #i-am {
     width: 50%;
 }

 #seeking {
     width: 50%
 }

 #my-age {
     width:25%;
     margin-right: 24px;
 }

 #my-age-decl {
     width: 75%;
 }

 #max-age, #min-age {
     width: 25%
 }

 #max-min-age {
     width: 75%;
 }

 input[type="num"] {
     width: 50%;
     line-height: 25px;
     background-color: transparent;
     border: 1px solid #000;
     border-radius: 5px;
     margin-top: 5px;
     margin-bottom: 10px;
}

 #rel-interest {
    display: flex;
}

#interested-in-left {
    width: 50%;
}

#interested-in-right {
    width: 50%
}

input[type="submit"] {
    display: block;
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 5px;
    margin: 16px auto;
}

textarea {
    display: block;
    background-color: transparent;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 8px auto;
}