@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #EFEFEF;
    letter-spacing: 1px;
    color: #363636;
    line-height: 25px;
}

/* Header */

#logo {
    width: 100%;
}

#logo img {
    width: 75%;
}

.nav-menu {
    margin-bottom: 25px;
}

#nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#nav ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
}

a {
    text-decoration: none;
    color: inherit;
}

.active {
    border-bottom: 1px solid #363636;
}


/* Hero Section */

#hero-outer {
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 400px;
    width: 100%;
    background: url(../images/cool-background.png) no-repeat center center;

    /* Animating the hero image*/
    animation-name: hero-zoom;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

/* Creating the zoom level */
@keyframes hero-zoom {
    from{
        transform: scale(0.9);
    }
    to{
        transform: scale(1.1);
    }
}

/* Form Hero Section */

#hero-section {
    width: 100%;
    background: url(../images/glasses-clinking.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#cover-text {
    margin: 0 20px;
    padding: 15px 0;
    position: absolute;
    bottom: 15px;
}
    

h1 {
    font-size: 250%;
    text-align: center;
    line-height: 36px;
    margin: 0 auto;
}

h3 {
    padding-top: 15px;
    padding-bottom: 8px;
    text-align: center;
}

h4 {
    width: 75%;
    padding: 18px 0;
    text-align: center;
    margin: 0 auto;
}

.sign-up-btn {
    text-align: center;
}

.sign-up-btn h3 {
    display: inline;
    background-color: #FFB36E;
    text-align: center;
    padding: 12px 25px;
    margin: 0 auto;
    border-radius: 5px;
}

/* Trust Section */

#trust {
    margin: 24px auto;
}

.why {
    font-size: 200%;
    text-align: center;
    margin: 24px auto;
}

#reasons {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#reasons h2 {
    text-transform: uppercase;
    font-size: 125%;
    font-weight: 400;
    padding-bottom: 5px;
    border-bottom: 1px solid #363636
}

#reasons p {
    margin-bottom: 20px;
}

/* Events */

#events {
    background: url(../images/glasses-clinking.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
}

.event-wrapper {
    background-color: rgba(54, 54, 54, 0.6);
    color: #EFEFEF;
    border: 3px solid #EFEFEF;
}

.event-btn {
    margin-top: 10px;
    margin-bottom: 18px;
    text-align: center;
}

.event-btn a {
    width: 25%;
    border-radius: 5px;
    padding: 8px 15px;
    background-color: #FFB36E;
    color: #363636;
}

.venue, .date {
    text-align: center;
}

/* Find Out More */

#find-out-more {
    width: 75%;
    margin: 15px auto;
}

#find-out-more p {
    margin-bottom: 15px;
    text-align: center;
}

/* Footer */

footer ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 25px auto;
    font-size: 200%;
}

/* Form page */

#form-wrapper {
    letter-spacing: 1px;
    background-color: rgba(54, 54, 54, 0.7);
    color: #EFEFEF;
 }

 form, .form-intro {
     width: 90%;
     margin: auto;
     padding: 20px 0;
 }

 input[type="text"], input[type="email"], input[type="tel"] {
     width: 100%;
     line-height: 25px;
     background-color: transparent;
     border: 1px solid #EFEFEF;
     border-radius: 5px;
     margin-top: 5px;
     margin-bottom: 10px;
 }

 #phone {
     width: 50%;
 }

 #demographics {
     display: flex;
 }

 #i-am {
     width: 50%;
 }

 #seeking {
     width: 50%
 }

 input[type="number"] {
     width: 50%;
     line-height: 25px;
     background-color: transparent;
     border: 1px solid #EFEFEF;
     border-radius: 5px;
     margin-top: 5px;
     margin-bottom: 10px;
}

input[type="submit"] {
    display: block;
    font-weight: 700;
    padding: 8px 24px;
    border-radius: 5px;
    margin: 16px auto;
}

input[type="submit"] {
    font-size: 150%;
    border-radius: 5px;
    background-color: #FFB36E;
    color: #363636;
}

footer ul {
    width: 50%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 25px auto;
    font-size: 200%;
}

/* Media Queries */

@media screen and (min-width: 580px) {
    header {
        display: flex;
        align-items: center;
        width: 75%;
        margin: 0 auto;
    }

    #logo {
        width: 100%;
    }

    #nav {
        width: 100%;
    }

    #reasons {
        display: flex;
        justify-content: space-between;
    }

    #reasons > div {
        margin: 0 20px
    }
}

@media screen and (min-width: 1170px) {

    body {
        font-size: 125%;
    }

    #cover-text {
        font-size: 120%;
        width: 50%;
        left: 0;
        bottom: 50px;
        line-height: 200%;
    }

    .sign-up-btn {
        margin: 36px;
    }

    #hero-section {
        width: 100%;
    }

    form, #hero-section h2 {
        line-height: 150%;
        width: 50%;
    }

    .form-intro {
        width: 50%;
        margin: 0 auto;
    }

    #reasons p {
        line-height: 200%;
    }

    #events {
        display: flex;
    }

    #events h3 {
        font-size: 150%;
    }

    .event-wrapper {
        width: 25%;
    }

    #hero-image {
        height: 800px;
    }

    @keyframes hero-zoom {
        from{
            transform: scale(1.5)
        }
        to{
            transform: scale(2.0);
        }
    }
}